if [ "$(type -t direnv_load)" = 'function' ]; then
  dotenv
  export ROOT_PATH=$(expand_path .)
  PATH_add $ROOT_PATH/app/shared/bin
fi
ecs-cli configure --cluster kurorekishi-me --default-launch-type EC2 --config-name kurorekishi-me
