#content-fullwidth.blog.blog-single
  #getstarted
    %article.post.format-standard.text-center
      = flash_messages
      .wrapped-content(style='padding-top:0px;padding-bottom:0px;')
        .primary-button
          - if logged_in?
            = link_to order_path, class: 'button radius' do
              ツイッターでログイン
          - else
            = link_to signin_path, method: :post, class: 'button radius' do
              ツイッターでログイン
