version: '3'
services:
  backend:
    image: 081239106582.dkr.ecr.ap-northeast-1.amazonaws.com/clean_them_all/backend:latest
    env_file: ../.env.production
    entrypoint: ["./entrypoint.sh"]
    volumes:
      - bundle:/bundle:cached
    entrypoint: ["./entrypoint.sh"]
    command: ["bundle", "exec", "foreman", "start"]
    logging:
      driver: awslogs
      options:
        awslogs-region: ap-northeast-1
        awslogs-group: clean_them_all
        awslogs-stream-prefix: backend

volumes:
  bundle:
